
{% extends 'index.html' %}
{% load static %}
{% block title %}
    {{user.username}} Portal
{% endblock title %}

{% block content %}
    <div class="container-fluid background p-3">
        <div class="row">
            <div class="col-12 col-md-11 m-auto Dashboardbox pb-5 pt-2">
                {% for i in messages  %}
                    <div class="alert alert-warning m-2" role="alert">
                    {{i}}
                    </div>
                {% endfor %} 
                <h3 class="text-warning">{{user.username|capfirst}} Portal</h3>
                <hr>
              
                <!-- Your Encrypted File  -->
                <div class="FileBox mt-3">
                    <div class="row">
                        <h5>Your Files</h5>
                        <small>Your files are encrypted only you can decrypt and download it.</small>
                        {% for i in filelist  %}
                            <div class="col-md-3 col-4 mt-3">
                                <div class="fileHere text-center p-2">
                                    <span class=" d-block mb-2 badge bg-danger">Encrypted</span>
                                    <i class="fa fa-file asae"></i>
                                    <h5>{{i.name}}</h5>
                                    <a href="{%url 'decrypt:decrypt' i.id%}">
                                        <button class="btn btn-sm">
                                            <i class="fa fa-eye"></i>
                                            Decrypt and Download
                                        </button>
                                    </a>
                                   
                                </div>
                            </div>
                        {% endfor %}
                            
                      
                    </div>
                </div>

                <hr>
                <h4 class="text-danger">Encrypt And Upload Your Files</h4>
                <hr>
                <div class="row">
                 
                    <!-- Different File method for encryption and Upload -->
                    <div class="col-md-12 col-12">
                        <div class="row">
                            <div class="col-4">
                                <a href="{%url 'decrypt:aes'%}">
                                    <div class="chooseBox text-center" data-bs-toggle="modal" data-bs-target="#exampleModalAES">
                                        <i class="fas fa-cloud-meatball"></i>
                                        <h5 class="text-center mt-2">AES</h5>
                                    </div>
                                </a>
                                
                            </div>
                            
                            <div class="col-4">
                                <a href="{%url 'decrypt:rsa'%}">
                                    <div class="chooseBox text-center">
                                        <i class="fas fa-key"></i>
                                        <h5 class="text-center mt-2">RSA</h5>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="col-4">
                                <a href="{%url 'decrypt:blowfish'%}">
                                    <div class="chooseBox text-center">
                                        <i class="fas fa-lock"></i>
                                        <h5 class="text-center mt-2">BlowFish</h5>
                                    </div>
                                </a>
                               
                              
                            </div>
                            <div class="col-12">
                                <a href="{%url 'decrypt:mutliencryption'%}">
                                    <div class="chooseBox text-center mt-3">
                                        <i class="fas fa-lock"></i>
                                        <h5 class="text-center mt-2">MultiEncryption</h5>
                                    </div>
                                </a>
                               
                            </div>
                        </div>
                    </div>
                </div>
              
                
            </div>
           
        </div>
    </div>
{% endblock content %}
    