{% extends 'index.html' %}

{% block title %}
    Encrypt Files
{% endblock title %}


{% block content %}
<div class="container-fluid background p-3">
    <div class="row">
        <div class="col-12 col-md-11 m-auto Dashboardbox pb-5 pt-2">
            <h3 class="text-warning">Free Encryption </h3>
            <hr>
            <div class="row">
                 <!-- Selecting File for encryption and Upload -->
                <div class="col-md-6 col-12">
                    {% for i in messages  %}
                    <div class="alert alert-warning" role="alert">
                       {{i}}
                    </div>
                    {% endfor %} 
                    <div class="uploadBox text-center p-4">
                        <i class="fa-solid fa-cloud-arrow-up"></i>
                        <p>Upload Your Files for Encryption..</p>
                        <form action="" method="post" enctype="multipart/form-data">
                            <input class="form-control mb-2" type="text" name="nameFile" placeholder="File Name" required>
                            <input class="form-control " type="file" name="userFile" required>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-block mt-3 w-100">
                                Encrypt File Upload 
                            </button>
                        </form>
                       
                    </div>
                    
                </div>
                <!-- Different File method for encryption and Upload -->
                <div class="col-md-6 col-12">
                    <p>Choose Your Encryption method.</p>
                    <hr>
                    <div class="row">
                        <div class="col-4">
                            <div class="chooseBox text-center">
                                <i class="fas fa-cloud-meatball"></i>
                                <h5 class="text-center mt-2">AES</h5>
                            </div>
                         
                        </div>
                        <div class="col-4">
                            <div class="chooseBox text-center">
                                <i class="fas fa-key"></i>
                                <h5 class="text-center mt-2">RSA</h5>
                            </div>
                          
                        </div>
                        <div class="col-4">
                            <div class="chooseBox text-center">
                                <i class="fas fa-lock"></i>
                                <h5 class="text-center mt-2">BlowFish</h5>
                            </div>
                          
                        </div>
                        <div class="col-12">
                            <div class="chooseBox text-center mt-3">
                                <i class="fas fa-lock"></i>
                                <h5 class="text-center mt-2">MultiEncryption</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>            
        </div>
       
    </div>
</div>
{% endblock content %}
    
    