{% extends 'index.html' %}

{% block title %}
    Decrypt Files
{% endblock title %}


{% block content %}
<div class="container-fluid background p-3">
    <div class="row">
        <div class="col-12 col-md-11 m-auto Dashboardbox pb-5 pt-2">
            <h3 class="text-warning">Free Decryption </h3>
            <hr>
            <div class="row">
                 <!-- Selecting File for encryption and Upload -->
                <div class="col-md-12 col-12">
                    {% for i in messages  %}
                    <div class="alert alert-warning" role="alert">
                       {{i}}
                    </div>
                    {% endfor %} 
                    <div class="uploadBox text-center p-4">
                        <i class="fa-solid fa-cloud-arrow-up"></i>
                        <p>Upload Your Files for Decryption..</p>
                        <form action="" method="post" enctype="multipart/form-data">
                            <input class="form-control " type="file" name="userFile" required>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-block mt-3 w-100">
                                Decrypt File and Download
                            </button>
                        </form>
                       
                    </div>
                    
                </div>
             
            </div>
            <hr>            
        </div>
       
    </div>
</div>
{% endblock content %}
    
    